@{
    ViewData["Title"] = "int[]";
    ViewData["Headline"] = "Here are some numbers!";
}
@model int[];

<ul class="list-group border border-dark w-25 mx-auto">
@foreach(int number in @Model)
{
    <li class="list-group-item border-0">@number</li>
}
</ul>
