<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gators</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

</head>
<body>
    <div class="container mt-3">
        <h1 class="d-inline-block">All Gators</h1>
        <a href="/gators/new" class="btn btn-primary d-inline-block">New Gator</a>
        <ul class="list-group w-25 mt-2">
            <% for (var gator of gators) { %>
                <li class="list-group-item"><a href="/gators/<%= gator._id %>"><%= gator.name %></a></li>
            <% } %>
        </ul>
    </div>
</body>
</html>