<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Gator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>

</head>
<body>
    <div class="container mt-3">
            <a href="/">Home</a>
        <h1 class="display-4">New Gator</h1>
        <form action="/gators" method="post">
        <div class="form-group w-25">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" aria-describedby="invalidName">
            <small id="invalidName" class="form-text invalid-feedback d-block"><%= messages.name %></small>
        </div>
        <div class="form-group w-25">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" class="form-control" aria-describedby="invalidAge">
            <small id="invalidAge" class="form-text invalid-feedback d-block"><%= messages.age %></small>
        </div>
        <div class="form-group w-25">
            <label for="length">Length (ft):</label>
            <input type="number" name="length" id="length" class="form-control" aria-describedby="invalidLength">
            <small id="invalidLength" class="form-text invalid-feedback d-block"><%= messages.length %></small>
        </div>
        <div class="form-group w-25">
            <label for="weight">Weight (lbs):</label>
            <input type="number" name="weight" id="weight" class="form-control" aria-describedby="invalidWeight">
            <small id="invalidWeight" class="form-text invalid-feedback d-block"><%= messages.weight %></small>
        </div>
        <button type="submit" class="btn btn-primary">Add Gator</button>
        </form>
    </div>
</body>
</html>