<style>
.city-container{
    max-width: 50%;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 0;
    border: 1px solid #212529;
}
.col img{
    height: 12.5rem;
}
</style>

<div class="city-container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <h2>Mine ShintoCoins</h2>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col px-5">
            <p>Here you can mine ShintoCoins by being the first to solve the algorithm:</p>
            <p>What is the {{getOrdinal(n)}} Fibonacci number?</p>
            <p class="invalid-feedback d-block">{{wrong}}</p>
            <p class="valid-feedback d-block">{{correct}}</p>
            <form [formGroup]="mineForm" (ngSubmit)="onSubmit(mineForm.value)">
                <div class="form-group form-row justify-content-center">
                    <div class="col-6"><input type="text" formControlName="answer" class="form-control" placeholder="Number"></div>
                    <button type="submit" class="btn btn-primary">Mine</button>
                </div>
            </form>
        </div>
    </div>
</div>