<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Home</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
</head>

<body>
    <div class='container'>
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a href="" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="contact" class="nav-link">Contact</a>
            </li>
        </ul>

        <div>
            <h2 class="text-center mt-3 mr-3">About Me</h2>
            <div class="media">
                <img class="ml-3" src="~/images/me.jpg" alt="picture of me">
                <div class="media-body ml-3">
                    <h5 class="mt-0 mb-1">Literally Death</h5>
                    I am the permanent cessation of all biological functions that sustain a living, physical organism. Although often personified as a bare, human skeleton shrouded in dark garments, I am in truth a fundamentally abstract force of nature with no tangible form. I am known by many names around the world, such as "The Grim Reaper", "Doom", and "Jerry Jones".
                </div>
            </div>
        </div>
    </div>
</body>
</html>