<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    <div class='container'>
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="projects" class="nav-link active">Projects</a>
            </li>
            <li class="nav-item">
                <a href="contact" class="nav-link">Contact</a>
            </li>
        </ul>

        
        <h2 class="text-center mt-3 mr-3">Here are some projects of mine!</h2>
        <div class="myprojects overflow-auto mt-5">
            <ul class="list-unstyled">
                <li class="media">
                    <img class="mr-3 proj-img" src="~/images/blackdeath.jpg" alt="The Black Death">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">The Black Death</h5>
                        <p class="text-justify pr-2">The Black Death, also known as the Great Plague or the Plague, or less commonly the Black Plague, was one of the most devastating pandemics in human history, resulting in the deaths of an estimated 75 to 200 million people in Eurasia and peaking in Europe from 1347 to 1351.</p>
                    </div>
                </li>
                <hr>
                <li class="media my-4">
                    <img class="mr-3 proj-img" src="~/images/wwii.jpg" alt="World War II">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">World War II</h5>
                        <p class="text-justify pr-2">World War II (often abbreviated to WWII or WW2), also known as the Second World War, was a global war that lasted from 1939 to 1945. World War II was the deadliest conflict in human history, marked by 70 to 85 million fatalities, most of whom were civilians in the Soviet Union and China. It included massacres, the genocide of the Holocaust, strategic bombing, premeditated death from starvation and disease, and the only use of nuclear weapons in war.</p>
                    </div>
                </li>
                <hr>
                <li class="media">
                    <img class="mr-3 proj-img" src="~/images/4chan.jpg" alt="4chan">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">4chan</h5>
                        <p class="text-justify pr-2">4chan is an English-language imageboard website. Users generally post anonymously, with the most recent posts appearing above the rest. 4chan is split into various boards with their own specific content and guidelines. Registration is not possible (except for staff). </p>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</body>
</html>