@{
    ViewData["Title"] = "Chefs";
    @model List<Chef>
}

<ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
        <a href="/" class="nav-link active">Chefs</a>
    </li>
    <li class="nav-item">
        <a href="dishes" class="nav-link">Dishes</a>
    </li>
</ul>

<h1 class="border-bottom border-dark mt-3 pb-3 d-inline-block pr-5 ml-3">Roster of Chefs</h1>

<table class="table table-striped overflow-hidden w-50 h-75">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col"># of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Chef chef in Model)
        {
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@chef.Age</td>
                <td>@chef.NumberOfDishes</td>
            </tr>
        }
    </tbody>
</table>

<a href="/new" class="btn btn-primary ml-2">Add a Chef</a>
