@{
    ViewData["Title"] = "Add a Chef";
    @model Chef
}

<h1 class="text-center">Add a Chef!</h1>

<form asp-controller="Home" asp-action="AddChef" method="Post">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label asp-for="FirstName"></label>
      <input asp-for="FirstName" class="form-control">
      <div class="invalid-feedback d-block"><span asp-validation-for="FirstName"></span></div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label asp-for="LastName"></label>
      <input asp-for="LastName" class="form-control">
      <div class="invalid-feedback d-block"><span asp-validation-for="LastName"></span></div>
    </div>
  </div>

<div class="form-row">
    <div class="form-group col-md-2">
      <label asp-for="Birthday"></label>
      <input asp-for="Birthday" class="form-control" value="@DateTime.Today">
      <div class="invalid-feedback d-block"><span asp-validation-for="Birthday"></span></div>
    </div>
</div>

  <button type="submit" class="btn btn-primary">Add Chef</button>
  <a href="/" class="btn btn-secondary ml-2">Home</a>
</form>
