@model Login

<form asp-controller="Home" asp-action="Login" class="form-signin d-inline-block align-middle ml-5" method="post" novalidate>
    <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
    
    <p style="color:red"><span asp-validation-for="LoginEmail"></span></p>
    <p style="color:red"><span asp-validation-for="LoginPassword"></span></p>

    <input asp-for="LoginEmail" class="form-control" placeholder="Email address" required>

    <input asp-for="LoginPassword" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" id='loginsubmit' type="submit">Log In</button>
</form>