<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play</title>

    <style>
        .container{
            width: 660px;
            margin: 0 auto;
        }
        h1{
            text-align: center;
        }
        .container div{
            background-color: {{ box_color }};
            height: 200px;
            width: 200px;
            border: 2px solid black;
            display: inline-block;
            margin-left: 10px;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        
        {% for i in range(box_times) %}
            <div></div>
        {% endfor %}

    </div>
</body>
</html>