<style>
.city-container{
    max-width: 50%;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 0;
    border: 1px solid #212529;
}
.col img{
    height: 12.5rem;
}
</style>

<div class="city-container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <h2>Welcome to ShintoCoins</h2>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="px-5">ShintoCoins are coins made by solving algorithms. To get started, head over to <a id="mine-coins" [routerLink]="['/mine']">Mine Coins</a> and get to work!</p>
        </div>
    </div>
</div>