@{
    ViewData["Title"] = "Login & Registration";
}

<div class="text-center login login-html mt-5 bg-transparent">

    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>

</div>