<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Update</title>
{% load static %}
<link rel='stylesheet' href="{% static 'tv_shows_app/css/show_info.css' %}">
</head>

<body>
    <div class='container'>
        <a href="/shows" class="go_back">Go Back</a>
        <h1>TV Show {{show.id}}</h1>
        <ul>
            <li><h4>Title:</h4> {{show.title}}</li>
            <li><h4>Network:</h4> {{show.network}}</li>
            <li><h4>Release Date:</h4> {{show.release_date|date:"F d, Y"}}</li>
            <li><h4>Description:</h4> <p>{{show.description}}</p></li>
            <li class='update'><h4>Last Updated:</h4> {{show.updated_at}}</li>
            <li>
                <ul class='links'>
                    <li><a href="/shows/{{show.id}}/edit">Edit</a></li>
                    <li><a href="/shows/{{show.id}}/destroy">Delete</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>