<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        img {
            height:200px;
            width: 200px;
        }
    </style>    

</head>
<body>
    <h1>Details page for <%= info.name.toUpperCase() %></h1>
    <img src="<%= info.name %>.jpg" alt="">
    <ul>
        <% for (var key in info) { %>
            <li><%= key %> : <%= info[key] %> </li>
        <% } %>
    </ul>
</body>
</html>