<a [routerLink]="['/home']">Home</a>
<p>Add a new author:</p>
<p class="invalid-feedback d-block" *ngIf="message;">{{message.name.message}}</p>
<div>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary ml-1" [routerLink]="['/home']">Cancel</button>
    </form>
</div>