<a [routerLink]="['/new']">New Author</a>
<p>We have quotes by:</p>
<table class="table">
    <thead>
        <tr>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors">
            <th scope="row"><a [routerLink]="['/author/' + author._id]">{{author.name}}</a></th>
            <td>
                <button class="btn btn-secondary mr-1" [routerLink]="['/edit/' + author._id]">Edit</button>
                <button class="btn btn-danger" (click)="deleteAuthor(author._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>