<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>

</head>
<body>
    <div class="container w-50 mt-3">
        <form action="/result" method="post" class="p-3 border border-dark">
            Your Name: 
                <input type="text" name="name" class="form-control">
            Dojo Location: 
                <select name="location" class="form-control">
                    <option value="mountain view">Mountain View</option>
                    <option value="seattle">Seattle</option>
                    <option value="san francisco">San Francisco</option>
                </select>
            Favorite Language:
                <select name="language" class="form-control">
                    <option value="javascript">Javascript</option>
                    <option value="c++">C++</option>
                    <option value="python">Python</option>
                </select>
            Comment (optional):
                <textarea name="comment" rows="3" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
        </form>
    </div>
</body>
</html>