<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>

</head>
<body>
    <div class="container w-50 mt-3">
        <h2>Submitted Information</h2>
        <p>Your Name: <%= data.name %></p>
        <p>Dojo Location: <%= data.location %></p>
        <p>Favorite Language: <%= data.language %></p>
        <p>Comment (optional): <%= data.comment %></p>
    </div>
</body>
</html>