<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Mongoose</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

</head>
<body>
    <div class="container">
        <% if (messages.errors) { %>
            <%= JSON.stringify(messages) %>
            <% for (var x of messages.errors) { %>
                <h3><%= x %></h3>
            <% } %>
        <% } %>
        <form action="/users" method="post">
        First Name:
        <input type="text" name="first_name">
        Last Name:
        <input type="text" name="last_name">
        Age:
        <input type="number" name="age">
        Email:
        <input type="text" name="email">
        <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>