@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Random Passcode (#@ViewBag.Count)</h3>
    <h1 class="border border-dark">@ViewBag.Passcode</h1>
    <a href="/" class="btn btn-primary">Generate</a>
</div>