<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Quotes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

</head>
<body>
    <div class="container mt-3">
        <h1>All Quotes</h1>
            <% for (var x of quotes){ %>
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p>"<%= x.quote  %>"</p>
                        <footer class="blockquote-footer"><%= x.user %> at <cite title="Source Title" id="datetime"><%= moment(x.createdAt).zone(420).format('h:mm a MMM D YYYY') %></cite></footer>
                        </blockquote>
                    </div>
                </div>
            <% } %>
        </ul>
    </div>
</body>
</html>