<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Delete a course</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'courses_app/css/bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'courses_app/css/style.css' %}">
</head>

<body class="text-center">
    <div class="jumbotron jumbotron-fluid" id="no-bg">
        <div class="container">
            <h1 class="display-4" id="smaller-font">Are you sure you want to delete the following course?</h1>
            <table class='text-left' id="table-position">
                <tr>
                    <td><h5>Name:</h5></td>
                    <td><h5>{{course.name}}</h5></td>
                </tr>
                <tr>
                    <td><h5>Description:</h5></td>
                    <td><h5>{{course.description.description}}</h5></td>
                </tr>
            </table>
            <form action="{% url 'courses:delete' %}" id="delete-course" method="POST">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{course.id}}">
                <a href="{% url 'courses:home' %}" class="btn btn-light border border-secondary">No</a>
                <button type="submit" class="btn btn-danger">Yes! I want to delete this</button>
            </form>
        </div>
    </div>
</body>
</html>